<!doctype html>


<head>
  <title>Test</title>
  <meta charset=utf-8>
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript" src="button.js"></script>
</head>

<body>

  <div id="container">
    <a href="/like"><button class="learn-more" id="like-button">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Like</span>
    </button>
  </a>
  </div>

  <script>
    document.querySelector('#like-button').addEventListener('click', disable)

    function disable(){
      document.getElementById('like-button').disabled = 'disabled';
    }

  </script>
</body>
